@charset "utf-8";
/*CSS document*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(img/fondo.png); /*quiero poner una imagen de fondo pero nose como*/
    font-family: "Montserrat Alternates", sans-serif;
    font-style: normal;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-weight: 900;
    font-size: 49.84px;
}

h2{
    font-weight: 700;
    font-size: 34.89px;
}

h3{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 12pt;
}

p{
    font-weight: 400;
    font-size: 19.94px;
    text-wrap: pretty;
}

ul{
    list-style-type: disc;
    list-style-position: inside;
}

li{
    font-weight: 700;
    font-size: 19.94px;
    line-height: 35.97px;
}

.flex-img{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

img{
    border-radius: 50%;
    border: 20px solid #580404;
    margin-bottom: -140px;
    position: relative;
}

.intro{
    background-color: #580404;
    color: #ffffff;
    width: 80%;
    height: 80%;
    box-sizing: border-box;
    padding: 50px 72px 72px;
    border-top-width: 100px;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-top-color: #580404;
    border-top-style: solid;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.tit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub{
    font-weight: 300;
    text-align: center;
}

.intro-interlinea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px; 
}

.exper{
    background-color: #E3E3E3;
    width: 80%;
    height: 80%;
    box-sizing: border-box;
    padding: 55px 72px 72px;
    color: #580404;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.flex-exper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.exper-interlinea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.exper h2{
    background-color: #E3E3E3;
    margin-top: 0%;
}

.exper h3{
    font-weight: 600;
    font-size: 27.41px;
    margin-bottom: 10pt;
}

.light{
    font-size: 19.94px;
    font-weight: 500;
}

.exper p{
    font-weight: 500;
    /*margin-bottom: 30pt;*/
}

.cont{
    background-color: #580404;
    color: #ffffff;
    width: 80%;
    height: 80%;
    box-sizing: border-box;
    padding: 55px 72px 72px 72px;
}

.cont p{
    font-weight: 600;
    font-size: 17.44px;
    text-align: left;
    padding: 12pt 0pt 0pt 15pt;
}

.cont h2{
    text-align: center;
    margin-bottom: 30px;
}

.footer {
    background-color: #580404;
    color: #ffffff;
    padding: 2%;
    margin-top: 10%;
}

.footer li{
    display: inline;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50pt;
}

.flex-foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*aplicaciones flex*/
