@charset "utf-8";
/*CSS document*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(img/fondo.png); /*quiero poner una imagen de fondo pero nose como*/
    font-family: "Montserrat Alternates", sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-weight: 900;
    font-size: 50px;
}

h2{
    font-weight: 700;
    font-size: 35px;
}

h3{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 16px;
}

p{
    font-weight: 400;
    font-size: 20px;
    text-wrap: pretty;
}

ul{
    list-style-type: disc;
    list-style-position: inside;
}

li{
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.flex-img{
    display: flex;
    justify-content: center;
    margin-top: 93px;
}

img{
    border-radius: 50%;
    border: 20px solid #580404;
    margin-bottom: -140px;
    position: relative;
}

.intro{
    background-color: #580404;
    color: #ffffff;
    width: 80%;
    max-width: 900px;
    height: 750px;
    box-sizing: border-box;
    padding: 50px 72px 72px;
    border-top-width: 100px;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-top-color: #580404;
    border-top-style: solid;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.tit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub{
    font-weight: 300;
    text-align: center;
}

.intro-interlinea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px; 
}

.exper{
    background-color: #E3E3E3;
    width: 80%;
    max-width: 900px;
    box-sizing: border-box;
    padding: 55px 72px 72px;
    color: #580404;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between
}

article{
    width: 46%;
    height: 260px;
}

.exper h2{
    background-color: #E3E3E3;
    margin-top: 0px;
}

.exper h3{
    font-weight: 600;
    font-size: 27px;
    margin-bottom: 13px;
}

.light{
    font-size: 20px;
    font-weight: 500;
}

.exper p{
    font-weight: 500;
}

.cont{
    background-color: #580404;
    color: #ffffff;
    width: 80%;
    max-width: 900px;
    height: 320px;
    box-sizing: border-box;
    padding: 40px 72px 72px 72px;
}

.cont p{
    font-weight: 600;
    font-size: 17px;
    text-align: left;
    padding: 16px 0px 0px 20px;
}

.cont h2{
    text-align: center;
    margin-bottom: 30px;
}

.footer {
    background-color: #580404;
    color: #ffffff;
    padding: 2%;
}

.footer li{
    display: inline;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 66px;
}

.flex-foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}